.c-request {
	padding-bottom: 85px;
	&__title {
		box-shadow: 0 1px 0 rgba(181, 224, 224, 0.5);
		background-color: #cceded;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			display: flex;
			background-image: linear-gradient(to top, #ffffff 0%, rgba(255, 255, 255, 0) 99%, rgba(255, 255, 255, 0) 100%);
			opacity: 0.45;
		}
		&-inner {
			height: 120px;
			position: relative;
			z-index: 10;
			padding: 25px 0;
			display: flex;
			align-items: center;
			margin-left: 103px;
			@include media-breakpoint-down(sm) {
				margin-left: 0;
			}
			h2 {
				text-shadow: 0 2px 0 rgba(255, 255, 255, 0.75);
				color: #3b3e43;
				font-family: "PFAgroSLabPro";
				font-size: 3.8rem;
				font-weight: 400;
				line-height: 48px;
				margin-left: 35px;
				margin-bottom: -5px;
				@include media-breakpoint-down(sm) {
					font-size: 3rem;
				}
			}
		}
		&-img {
			width: 64px; 
			height: 72px;
			background: url($images-base-path + 'css_sprites.png') -10px -153px;
			background-repeat: no-repeat;
		}
	}
	&__body {
		padding-top: 43px;
		&-wrapper {
			display: flex;
			@include media-breakpoint-down(md) {
				flex-direction: column;
			}
		}
		&-left {
			max-width: 632px;
			width: 100%;
			margin-left: 169px;
			@include media-breakpoint-down(lg) {
				margin-left: 0;
			}
			@include media-breakpoint-down(md) {
				width: 100%;
				max-width: 100%;
			}
		}
		&-title {
			margin-left: 31px;
			@include media-breakpoint-down(sm) {
				margin-left: 0;
			}
			h4 {
				color: $Eucalyptus;
				font-size: 2.5rem;
				font-weight: 500;
				margin-bottom: 0;
				letter-spacing: normal;
				@include media-breakpoint-down(sm) {
					font-size: 2rem;
				}
			}
		}
		&-subtitle {
			margin-top: 25px;
			margin-left: 31px;
			@include media-breakpoint-down(sm) {
				margin-left: 0;
			}
			span {
				color: #333333;
				font-family: "PTSans";
				font-size: 1.8rem;
				font-weight: 500;
				line-height: 25px;
				letter-spacing: 0.1px;
				@include media-breakpoint-down(sm) {
					font-size: 1.6rem;
				}
			}
		}
		&-form {
			box-shadow: inset 0 0 0 2px #ddefe8;
			padding: 34px;
			padding-right: 28px;
			margin-top: 24px;
			max-width: 632px;
			padding-bottom: 31px;
			@include media-breakpoint-down(md) {
				width: 100%;
				max-width: 100%;
			}
			@include media-breakpoint-down(sm) {
				padding: 20px;
			}
			
		}
		&-right {
			margin-left: 103px;
			@include media-breakpoint-down(md) {
				margin-left: 0;
				margin-top: 50px;
				display: flex;
				justify-content: space-between;
			}
			@include media-breakpoint-down(sm) {
				flex-direction: column;
			}
		}
		&-cleaner {
			margin-top: 6px;
			&-inner {
				display: flex;
				flex-direction: column;
				width: 269px;
				@include media-breakpoint-down(sm) {
					width: 100%;
				}
			}
			&-head {
				height: 71px;
				box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.33);
				background-color: #2a8689;
				position: relative;
				display: flex;
				align-items: center;
				padding-left: 30px;
				padding-right: 25px;
				span {
					color: #ffffff;
					font-family: "PTSans";
					font-size: 3rem;
					font-weight: 700;
					line-height: 25px;
					margin-left: 11px;
				}
				a {
					margin-left: 58px;
					i {
						font-size: 2.2rem;
						color: #006e72;
					}
				}
				&-img {
					width: 27px;
					height: 32px;
					background: url($images-base-path + 'css_sprites.png') -199px -87px;
					background-repeat: no-repeat;
				}
			}
			&-body {
				padding-top: 27px;
				padding-left: 29px;
				padding-right: 26px;
				padding-bottom: 48px;
				background-color: #ddefe8;
				span {
					color: #3b5051;
					font-family: "PTSans";
					font-size: 1.7rem;
					font-weight: 400;
					line-height: 25px;
				}
			}
			&-footer {
				height: 51px;
				box-shadow: 0 3px 5px rgba(17, 16, 13, 0.2);
				background-color: #2bc7cd;
				transition: all $trs ease;
				&:hover {
					box-shadow: 0 3px 5px rgba(17, 16, 13, 0.4);
					background-color: #23a6a9;
				}
				&-ico{
					background-color: #26b4b9;
					height: 50px;
					width: 50px;
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: 2rem;
					color: #fff;
				}
				button {
					height: 100%;
					width: 100%;
					display: flex;
					align-items: center;
					span {
						color: #ffffff;
						font-family: "PTSans";
						font-size: 2.2rem;
						font-weight: 400;
						line-height: 25px;
						margin-left: 21px;
					}
				}
			}
		}
		&-ads {
			margin-top: 30px;
			width: 180px;
			height: 150px;
			position: relative;
			overflow: hidden;
			img {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
			}
		}
	}
}