.c-links-files {
	background-color: #f0f2f5;
	padding-top: 42px;
	padding-bottom: 65px;
	&__inner {
		display: flex;
		margin-left: 81px;
		@include media-breakpoint-down(lg) {
			margin-left: 0;
		}
		@include media-breakpoint-down(md) {
			flex-direction: column;
		}
	}
	&__block {
		display: flex;
		@include media-breakpoint-down(lg) {
			flex-direction: column;
			width: 50%;
		}
		@include media-breakpoint-down(md) {
			width: 100%;
		}
		@include media-breakpoint-down(sm) {
			flex-direction: column;
		}
		&:not(:last-child) {
			margin-right: 61px;
			@include media-breakpoint-down(lg) {
				margin-right: 40px;
			}
			@include media-breakpoint-down(md) {
				margin-right: 0;
				margin-bottom: 80px;
			}

		}
		&-title {
			@include media-breakpoint-down(lg) {
				margin-bottom: 40px;
			}
			@include media-breakpoint-down(md) {
				flex-shrink: 0;
				margin-bottom: 20px;
				width: 150px;
			}
			@include media-breakpoint-down(sm) {
				margin-bottom: 40px;
				width: 100%;
				display: flex;
				justify-content: center;
			}
			h3 {
				color: $Eucalyptus;
				font-size: 2.5rem;
				font-weight: 500;
				line-height: 25px;
				position: relative;
				@include media-breakpoint-down(md) {
					text-align-last: left;
				}
				&:after {
					content: '';
					position: absolute;
					width: 42px;
					height: 4px;
					background-color: #328f68;
					right: 0;
					bottom: -20px;
					@include media-breakpoint-down(lg) {
						bottom: 0;
						right: auto;
						margin-left: 10px;
					}
				}
			}
		}
		&-items {
			display: flex;
			flex-direction: column;
			width: 370px;
			margin-left: 30px;
			@include media-breakpoint-down(lg) {
				margin-left: 0;
				width: 100%;
			}
			@include media-breakpoint-down(md) {
				width: 100%;
			}
			@include media-breakpoint-down(sm) {
				margin-left: 0;
			}
		}
		&-item {
			&:first-child {
				.c-links-files__block-link {
					padding-top: 8px;
				}
			}
			&:nth-child(even) {
				background-color: #e2e6eb;
			}
		}
		&-link {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 15px;
			padding-top: 10px;
			padding-bottom: 14.2px;
			&:hover {
				span {
					text-decoration: underline;
				}
			}
			span {
				color: $PersianGreen;
				font-family: "PTSans";
				font-size: 1.6rem;
				font-weight: 400;
				line-height: 16px;
				letter-spacing: normal;
			}
			i{
				color: $PersianGreen;
				font-size: 1.6rem;
			}
		}
	}
}