.c-footer{
	background-color: #3b3e43;
	position: relative;
	border-top: 6px solid #30b07b;
	&__inner {
		height: 181px;
		display: flex;
		padding-top: 45px;
		@include media-breakpoint-down(md) {
			flex-direction: column;
			height: auto;
			align-items: center;
		}
		.row {
			width: 100%;
		}
	}
	&__copy {
		margin-left: -11px;
		@include media-breakpoint-down(md) {
			margin-left: 0;
			margin-bottom: 15px;
		}
		span{
			color: #3cdb9a;
			font-family: "PTSans";
			font-size: 1.7rem;
			font-weight: 400;
		}
		b {
			color: #3cdb9a;
			font-family: "PTSans";
			font-size: 1.7rem;
			font-weight: 700;
			
		}
	}
	&__mail {
		margin-top: 14px;
		margin-left: -11px;
		@include media-breakpoint-down(md) {
			margin-left: 0;
			margin-bottom: 15px;
		}
		i {
			color: #2bc7cd;
			margin-right: 8px;
		}
		span {
			color: #2bc7cd;
			font-family: "PTSans";
			font-weight: 400;
			line-height: 25px;
			font-size: 1.7rem;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&__nav {
		margin-top: -2px;
		@include media-breakpoint-down(md) {
			margin-left: 0;
			margin-bottom: 15px;
		}
		li {
			a {
				color: #2bc7cd;
				font-family: "PTSans";
				font-size: 1.7rem;
				font-weight: 400;
				line-height: 25px;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	&__logo {
		width: 169px;
		margin-left: 14px;
		@include media-breakpoint-down(md) {
			margin-left: 0;
			margin-bottom: 15px;
		}
		&-link {
			display: flex;
		}
		&-img {
			width: 169px; height: 46px;
			background: url($images-base-path + 'css_sprites.png') -10px -87px;
			background-repeat: no-repeat;
		}
	}
}

