mixin c-alphabet(data)
	.c-alphabet
		.container
			.c-alphabet__inner
				.c-alphabet__title
					span Найти по алфавиту
				.c-alphabet__list
					ul.h-reset-list
						li
							a(href="#") А
						li
							a(href="#") B
						li
							a(href="#") C
						li
							a(href="#") D
						li
							a(href="#") E
						li
							a(href="#") F
						li
							a(href="#") G
						li
							a(href="#") H
						li
							a(href="#") I
						li
							a(href="#") J
						li
							a(href="#") K
						li
							a(href="#") L
						li
							a(href="#") M
						li
							a(href="#") N
						li
							a(href="#") O
						li
							a(href="#") P
						li
							a(href="#") Q
						li
							a(href="#") R
						li
							a(href="#") S
						li.active
							a(href="#") T
						li
							a(href="#") U
						li
							a(href="#") V
						li
							a(href="#") W
						li
							a(href="#") X
						li
							a(href="#") Y
						li
							a(href="#") Z
						li
							a(href="#") #