button{
    // button reset
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
}

.btn {
	height: 50px;
	display: flex;
	align-items: center;
	border-radius: 4px;
	transition: all $trs ease;
	color: #ffffff;
	font-family: "PTSans";
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 25px;
	text-align: center;
	justify-content: center;
	i {
		width: 39px;
		height: 49px;
		background-color: rgba(0, 0, 0, 0.11);
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.5rem;
		color: #ffffff;
	}
	span {
		padding-left: 16px;
    padding-right: 27px;
		color: #ffffff;
		font-family: "PTSans";
		font-size: 1.8rem;
		font-weight: 400;
		line-height: 25px;
		margin: 0 auto;
	}
	&--success {
		padding: 0;
		background-color: #30b07b;
		background-image: linear-gradient(to top, rgba(17, 16, 13, 0.11) 0%, rgba(255, 255, 255, 0.11)100%);
		&:hover {
			background-color: #289366;
		}
	}
	&--search {
		box-shadow: 0 5px 5px rgba(17, 16, 13, 0.1), 0 0 0 1px #ffffff, inset 0 0 0 1px #ffffff;
		background-color: #fcfcfc;
		padding: 13px 49px;
		transition: all $trs ease;
		margin-left: auto;
		&:hover {
			box-shadow: none;
		}
		span {
			color: #3a5051;
			font-family: "PTSans";
			font-size: 19px;
			font-weight: 400;
			line-height: 22.05px;
			text-transform: uppercase;
			font-weight: 400;
			padding: 0;
			padding-right: 4px;
		}
		b {
			color: #3a5051;
			font-family: "PTSans";
			font-size: 19px;
			font-weight: 400;
			line-height: 22.05px;
			text-transform: uppercase;
			font-weight: 700;
		}
	}
}