@mixin font-face ($fontname, $fontfile, $fontweight: normal, $fontstyle: normal) {
	@font-face {
		font-family: $fontname;
		src: url($fonts-base-path + $fontfile + '.eot');
		src: url($fonts-base-path + $fontfile + '.eot?#iefix') format('embedded-opentype'),
			 url($fonts-base-path + $fontfile + '.woff') format('woff'),
			 url($fonts-base-path + $fontfile + '.ttf') format('truetype'),
			 url($fonts-base-path + $fontfile + '.svg##{fontname}') format('svg');
		font-weight: $fontweight;
		font-style: $fontstyle;
	}
};


@include font-face('PFAgroSLabPro', 'pfagoraslabpro/pfagoraslabpro-reg', 400, normal);
@include font-face('PFAgroSLabPro', 'pfagoraslabpro/pfagoraslabpro-medium', 500, normal);
@include font-face('PFAgroSLabPro', 'pfagoraslabpro/pfagoraslabpro-bold', 700, normal);


@include font-face('PTMono', 'ptmono/PTMono-Bold', 700, normal);


@include font-face('PTSans', 'ptsans/PTSans-Regular', 400, normal);
@include font-face('PTSans', 'ptsans/PTSans-Bold', 700, normal);
