.l-wrapper{
	position: relative;
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	main {
		flex-grow: 1;
	}
}

button {
	cursor: pointer;
	&:focus {
		outline: none;
	}
}

input:focus {
	outline: none;
}
