.c-header{
	box-shadow: 0 1px 0 #67dfae;
	background-color: #37c48a;
	&__inner {
		display: flex;
		min-height: 75px;
		align-items: center;
		padding: 0;
		@include media-breakpoint-down(lg) {
			margin-left: 0;
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}
	&__right {
		display: flex;
		align-items: center;
		@include media-breakpoint-down(lg) {
			order: 1;
		}
		@include media-breakpoint-down(md) {
			order: 1;
		}
	}
	&__logo {
		margin-left: -43px;
		flex-shrink: 0;
		@include media-breakpoint-down(lg) {
			margin-left: 0;
			order: 1;
		}
		&-link {
			display: flex;
			width: 221px;
			height: 57px;
			background: url($images-base-path + '/css_sprites.png') -10px -10px;
			background-repeat: no-repeat;
		}
	}
	&__actions {
		align-items: center;
		flex-grow: 1;
		@include media-breakpoint-down(lg) {
			order: 2;
		}
		&-inner {
			display: flex;
			align-items: center;
			flex-grow: 1;
			@include media-breakpoint-down(lg) {
				padding: 20px 0;
				justify-content: center;
			}
			@include media-breakpoint-down(md) {
				flex-direction: column;
				align-items: center;
			}
		}
		
	}
	&__search {
		margin-left: 15px;
		@include media-breakpoint-down(md) {
			margin-top: 30px;
		}
		.form-group {
			display: flex;
			align-items: center;
			margin: 0;
		}
		input {
			width: 269px;
			height: 38px;
			box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
			background-color: #ffffff;
			border: none;
			padding: 5px 20px;
			font-size: 1.8rem;
			@include media-breakpoint-down(sm) {
				width: 100%;
			}
			&::placeholder {
				color: #2c2e32;
				font-family: "PTSans";
				font-size: 1.8rem;
				font-weight: 400;
			}
		}
		.submit-search {
			height: 38px;
			box-shadow: 0 0 0 1px #76dab1;
			background-color: #33ba82;
			background-image: linear-gradient(to top, rgba(17, 16, 13, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
			display: flex;
			padding: 7px 10px;
			transition: all $trs ease;
			&:hover {
				box-shadow: 0 0 0 1px #51ce83;
			}
			.fa-search {
				font-size: 2.4rem;
				color: #93eec9;
			}
			span {
				padding: 0 5px;
				text-shadow: 0 2px 2px var(--Eucalyptus);
				color: #ffffff;
				font-family: "PTSans";
				font-size: 1.8rem;
				font-weight: 400;
				padding-left: 10px;
				line-height: 1.3;
			}
		}
		&--lg {
			display: block;
			@include media-breakpoint-down(lg) {
				display: flex;
				order: 1;
			}
			
		}
	}
	&__menu {
		margin-left: 31px;
		order: 1;
		@include media-breakpoint-down(md) {
			margin: 0;
			margin-top: 30px;
			order: 4;
		}
		ul {
			display: flex;
			li {
				a {
					text-shadow: 0 2px 2px $Eucalyptus;
					color: #ffffff;
					font-family: "PTSans";
					font-size: 2rem;
					font-weight: 400;
					padding: 5.5px 15px;
					transition: all $trs ease;
					letter-spacing: normal;
					@include media-breakpoint-down(lg) {
						font-size: 1.8rem;
						padding: 9px 15px;
					}
					@include media-breakpoint-down(sm) {
						font-size: 1.6rem;
						padding: 7px;
					}
					&:hover {
						text-shadow: none;
					}
				}
				&.active {
					a {
						background-color: #30b07b;
					}
				}
			}
		}
	}
	&__language {
		margin-left: auto;

		.nav {
			position: relative;
		}
		.dropdown-toggle {
			width: 89px;
			height: 38px;
			box-shadow: 0 0 0 1px #76dab1;
			background-color: #33ba82;
			background-image: linear-gradient(to top, rgba(17, 16, 13, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
			display: flex;
			flex-direction: row-reverse;
			justify-content: flex-end;
			align-items: center;
			padding: 10px;
			text-shadow: 0 2px 2px var(--Eucalyptus);
			color: #ffffff;
			font-family: "PTSans";
			font-size: 1.7rem;
			font-weight: 400;
			text-transform: uppercase;
			&:after {
				position: absolute;
				right: 9px;
				top: 50%;
				transform: translateY(-50%);
				content: '\f0d7';
				font-family: "Font Awesome 5 Free";
				font-weight: 900;
				border: none;
				box-shadow: none;
				height: auto;
				font-size: 1.2rem;
				width: 9px;
			}
			.flag-icon {
				margin-right: 9px;
			}
		}
		.dropdown-menu {
			min-width: 100%;
			background-color: #33ba82;
			background-image: linear-gradient(to top, rgba(17, 16, 13, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
			padding: 0;
			.dropdown-item {
				display: flex;
				flex-direction: row-reverse;
				align-items: center;
				justify-content: flex-end;
				padding: 10px;
				color: #ffffff;
				font-family: "PTSans";
				font-size: 1.5rem;
				font-weight: 400;
				text-transform: uppercase;
				&:hover {
					background: #1e9c67;
				}
				.flag-icon {
					margin-right: 10px;
				}
			}
		}
	}
	&__mmenu {
		@include media-breakpoint-down(lg) {
			margin-right: 60px;
		}
		@include media-breakpoint-down(sm) {
			margin-right: 20px;
		}
		.navbar-toggler-icon {
			height: 100%;
			width: 100%;
		}
		cursor: pointer;
		i {
			font-size: 3rem;
			color: #ffffff;
		}
	}
}









