mixin c-main(data)
	.c-main
		.c-main__head
			.container
				.c-main__head-inner
					.c-main__head-form-wrapper
						form(action="").c-main__head-form
								.c-main__head-form-close
								.c-main__head-form-body-inner
									.c-main__head-form-body-top
										.c-main__head-form-error
										.c-main__head-form-desc
											span The programm can't start because is missing from your computer.
										.c-main__head-form-input
											.form-group.input-group
												input.form-control(type='text', placeholder='.dll, .osx')
									.c-main__head-form-body-bottom
										button(type="submit").btn.btn--search
											span Найти на
											b dll.ru
						.c-main__head-form-outline
							.c-main__head-form-outline-circle
								span Введите название библиотеки
							.c-main__head-form-outline-arrow
		.c-main__body
			.container
				.c-main__body-title-wrapper
					.c-main__body-title
						.c-main__body-title-img
						.c-main__body-title-txt
							h2 Бесплатный каталог dll файлов
							.c-main__body-title-txt-span
								span Скачивайте библиотеки
								span.green бесплатно!
					.c-request__body-cleaner
						.c-request__body-cleaner-inner
							.c-request__body-cleaner-head
								.c-request__body-cleaner-head-img
								span Cleaner
								a(href="#")
									i.fas.fa-external-link-square-alt
							.c-request__body-cleaner-body
								span Приложение для повышения быстродействия компьютера, исправление ошибок системы путем исправления системных ошибок, очистки записей реестра.
							.c-request__body-cleaner-footer
								button(type="button")
									i.c-request__body-cleaner-footer-ico.fas.fa-download
									span Скачать сейчас
				.c-main__body-file-txt
					.c-links-files__block
						.c-links-files__block-title
							h3 Топ файлов
						.c-links-files__block-items
							.c-links-files__block-item
								a(href="#").c-links-files__block-link
									span A0 DK1 [Stereo].dll 
									i.fas.fa-download
							.c-links-files__block-item
								a(href="#").c-links-files__block-link
									span B2C2.dll  
									i.fas.fa-download
							.c-links-files__block-item
								a(href="#").c-links-files__block-link
									span C1.DLL  
									i.fas.fa-download
							.c-links-files__block-item
								a(href="#").c-links-files__block-link
									span D-Pole.dll  
									i.fas.fa-download
							.c-links-files__block-item
								a(href="#").c-links-files__block-link
									span e.dll 
									i.fas.fa-download
							.c-links-files__block-item
								a(href="#").c-links-files__block-link
									span F1524_Tms_mp.dll  
									i.fas.fa-download
							.c-links-files__block-item
								a(href="#").c-links-files__block-link
									span g200d.dll 
									i.fas.fa-download
							.c-links-files__block-item
								a(href="#").c-links-files__block-link
									span h2633260.dll  
									i.fas.fa-download
							.c-links-files__block-item
								a(href="#").c-links-files__block-link
									span i128.dll  
									i.fas.fa-download
							.c-links-files__block-item
								a(href="#").c-links-files__block-link
									span J3D.dll 
									i.fas.fa-download
							.c-links-files__block-item
								a(href="#").c-links-files__block-link
									span k2Act32.dll 
									i.fas.fa-download
					.c-main__body-file-txt-seo
						h4 Малый заголовок
						p Воздействие на потребителя методически накладывает отрицательный контент. Комплексное число наиболее полно раскручивает эмпирический рекламный макет. Легко проверить, что частная производная раскручивает ротор векторного поля, что неудивительно. Продвижение проекта, общеизвестно, непредсказуемо. Портрет потребителя основан на тщательном анализе данных.
						p Можно предположить, что побочный PR-эффект упорядочивает разрыв функции. Асимптота, безусловно, неверно нейтрализует положительный PR. Стоит отметить, что первообразная функция расточительно обуславливает ролевой принцип восприятия. SWOT-анализ, следовательно, нетривиален. Позиционирование на рынке, общеизвестно, индуцирует абстрактный фирменный стиль.