mixin footer()
	.c-footer
		.container
			.c-footer__inner
				.col-lg-4.col-md-12.col-sm-12
					.c-footer__copy
						span © 2004-2016 
						b Dll.ru
					.c-footer__mail
						a(href="mailto:info@dll.ru") 
							i.fas.fa-envelope
							span info@dll.ru
				.col-lg-6.col-md-12.col-sm-12
					.c-footer__nav
						nav
							ul.h-reset-list
								li
									a(href="#") Помощь
								li
									a(href="#") Зарпосить файл
								li
									a(href="#") Контакты
				.col-lg-2.col-md-12.col-sm-12
					.c-footer__logo
						a(href="#").c-footer__logo-link
							.c-footer__logo-img