.c-alphabet {
	box-shadow: 0 1px 0 #555555;
	background-color: #2c2e32;
	@include media-breakpoint-down(sm) {
		display: none;
	}
	&__inner {
		display: flex;
		align-items: center;
		height: 41px;
	}
	&__list {
		display: flex;
		flex-grow: 1;
		flex-shrink: 0;
		width: auto;
		ul {
			display: flex;
			width: 100%;
			justify-content: flex-end;
			li {
				a {
					color: #ffffff;
					font-family: "PTMono";
					font-size: 2.2rem;
					font-weight: 700;
					text-transform: uppercase;
					padding: 3px 10px;
					transition: all $trs ease;
					@include media-breakpoint-down(lg) {
						font-size: 1.3rem;
						padding: 3px 6px;
					}
				}
				&:hover {
					a {
						box-shadow: inset 0 0 0 2px #00a1a7;
					}
				}
				&.active {
					a {
						color: #2c2e32;
						background-color: #00a1a7;
					}
				}
			}
		}
	}
	&__title {
		margin-right: 35px;
		margin-left: 5px;
		flex-shrink: 0;
		span {
			color: #eeeeee;
			font-family: "PTSans";
			font-size: 1.8rem;
			font-weight: 400;
			@include media-breakpoint-down(lg) {
				font-size: 1.6rem;
			}
		}
	}
}