extends _includes/_extends/main

include _includes/components/c-alphabet/c-alphabet
include _includes/components/c-main/c-main
include _includes/components/c-links-files/c-links-files


block head
	+head({'title':'Contacts'})

block header
	+header({
		items: [
			{
				name: 'Помощь'
			},
			{
				name: 'Запросить файл'
			},
			{
				name: 'Контакты',
			}
		]
	})
block content
	+c-alphabet()
	+c-main()
	+c-links-files()