mixin c-request(data)
	.c-request
		.c-request__title
			.container
				.c-request__title-inner
					.c-request__title-img
					h2 Запросить файл
		.c-request__body
			.container
				.c-request__body-wrapper
					.c-request__body-left
						.c-request__body-title
							h4 Запросите у нас недостающий файл
						.c-request__body-subtitle
							span Если вы напишите свой адрес эл. почты, то получите автоматическое уведомление, как только DLL файл будет доступен для скачивания.
						.c-request__body-form
							form
								.row
									.input-section.col-md-6
										.form-group.input-group
											.input-group-prepend
												#basic-addon1.input-group-text
													span.e-icon-align
														i.fa.fa-user
											input.form-control(type='text', placeholder='Ваше имя', aria-label='Username', aria-describedby='basic-addon1')
									.input-section.col-md-6
										.form-group.input-group
											.input-group-prepend
												#basic-addon2.input-group-text
													span.e-icon-align
														i.fa.fa-envelope
											input.form-control(type='email', placeholder='Ваш E-mail', aria-label='Username', aria-describedby='basic-addon2')
									.input-section.col-md-12
										.form-group.input-group
											.input-group-prepend
												#basic-addon3.input-group-text
													span.e-icon-align
														i.fa.fa-file
											input.form-control(type='text', placeholder='Название файла', aria-label='Username', aria-describedby='basic-addon3')
									.input-section.col-md-12
										.form-group.input-group
											.input-group-prepend
												#basic-addon4.input-group-text.align-items-start
													span.e-icon-align
														i.fa.fa-pencil-alt
											textarea.form-control(aria-label='With textarea', placeholder='Комментарий', rows='3' , aria-describedby='basic-addon4')
								button.btn.btn--success(type='submit')
									i.fa.fa-paper-plane
									span Отправить
					.c-request__body-right
						.c-request__body-cleaner
							.c-request__body-cleaner-inner
								.c-request__body-cleaner-head
									.c-request__body-cleaner-head-img
									span Cleaner
									a(href="#")
										i.fas.fa-external-link-square-alt
								.c-request__body-cleaner-body
									span Приложение для повышения быстродействия компьютера, исправление ошибок системы.
								.c-request__body-cleaner-footer
									button(type="button")
										i.c-request__body-cleaner-footer-ico.fas.fa-download
										span Скачать сейчас
						.c-request__body-ads
							img(src="https://via.placeholder.com/180x150", alt="")