mixin header(data)
	header.c-header
		.container
			.c-header__inner.navbar.navbar-expand-xl
				.c-header__logo.navbar-brand
					a(href="#").c-header__logo-link
				.c-header__search.c-header__search--lg
					form(action="/").c-header__form
						.form-group
							input#search-file(type="text", name="search-file", placeholder='Поиск файлов', required)
							button(type="submit").submit-search
								i.fas.fa-search
								span Найти
				.c-header__actions.collapse.navbar-collapse#navbarSupportedContent
					.c-header__actions-inner
						.c-header__menu
							nav.c-header__menu-nav
								ul.h-reset-list.c-header__menu-list
									each item in data.items
										li.c-header__menu-item(class=(item.active_page?'active':''))
											a(href="#").c-header__menu-link!=item.name
				.c-header__right
					button.navbar-toggler.c-header__mmenu(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
						span.navbar-toggler-icon
							i.fas.fa-bars
					.c-header__language
						.dropdown
							button#dropdownMenuButton.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false').nav.c-header__language-nav RU
								i.flag-icon.flag-icon-ru
							.dropdown-menu(aria-labelledby='dropdownMenuButton')
								a.dropdown-item(href='#') UA
									i.flag-icon.flag-icon-ua
								a.dropdown-item(href='#') RU
									i.flag-icon.flag-icon-ru
								a.dropdown-item(href='#') US
									i.flag-icon.flag-icon-us