mixin c-links-files(data)
	.c-links-files
		.container
			.c-links-files__inner
				.c-links-files__block
					.c-links-files__block-title
						h3 Ссылки
					.c-links-files__block-items
						.c-links-files__block-item
							a(href="#").c-links-files__block-link
								span Решение проблемы с HTMLCHKR1.DLL
								i.fas.fa-external-link-square-alt
						.c-links-files__block-item
							a(href="#").c-links-files__block-link
								span Ошибки HTMLCHKR2.DL
								i.fas.fa-external-link-square-alt
						.c-links-files__block-item
							a(href="#").c-links-files__block-link
								span Отсутствует HTMLCHKR3.DL! Что делать?
								i.fas.fa-external-link-square-alt
						.c-links-files__block-item
							a(href="#").c-links-files__block-link
								span Как жить без HTMLCHKR3.DL?
								i.fas.fa-external-link-square-alt
						.c-links-files__block-item
							a(href="#").c-links-files__block-link
								span Почему HTMLCHKR3.DL так важен?
								i.fas.fa-external-link-square-alt
						.c-links-files__block-item
							a(href="#").c-links-files__block-link
								span Все о HTMLCHKR3.DL
								i.fas.fa-external-link-square-alt
						.c-links-files__block-item
							a(href="#").c-links-files__block-link
								span Решение проблемы с HTMLCHKR1.DLL
								i.fas.fa-external-link-square-alt
						.c-links-files__block-item
							a(href="#").c-links-files__block-link
								span Ошибки HTMLCHKR2.DL
								i.fas.fa-external-link-square-alt
						.c-links-files__block-item
							a(href="#").c-links-files__block-link
								span Отсутствует HTMLCHKR3.DL! Что делать?
								i.fas.fa-external-link-square-alt
						.c-links-files__block-item
							a(href="#").c-links-files__block-link
								span Как жить без HTMLCHKR3.DL?
								i.fas.fa-external-link-square-alt
						.c-links-files__block-item
							a(href="#").c-links-files__block-link
								span Почему HTMLCHKR3.DL так важен?
								i.fas.fa-external-link-square-alt
				.c-links-files__block
					.c-links-files__block-title
						h3 Топ файлов
					.c-links-files__block-items
						.c-links-files__block-item
							a(href="#").c-links-files__block-link
								span A0 DK1 [Stereo].dll 
								i.fas.fa-download
						.c-links-files__block-item
							a(href="#").c-links-files__block-link
								span B2C2.dll  
								i.fas.fa-download
						.c-links-files__block-item
							a(href="#").c-links-files__block-link
								span C1.DLL  
								i.fas.fa-download
						.c-links-files__block-item
							a(href="#").c-links-files__block-link
								span D-Pole.dll  
								i.fas.fa-download
						.c-links-files__block-item
							a(href="#").c-links-files__block-link
								span e.dll 
								i.fas.fa-download
						.c-links-files__block-item
							a(href="#").c-links-files__block-link
								span F1524_Tms_mp.dll  
								i.fas.fa-download
						.c-links-files__block-item
							a(href="#").c-links-files__block-link
								span g200d.dll 
								i.fas.fa-download
						.c-links-files__block-item
							a(href="#").c-links-files__block-link
								span h2633260.dll  
								i.fas.fa-download
						.c-links-files__block-item
							a(href="#").c-links-files__block-link
								span i128.dll  
								i.fas.fa-download
						.c-links-files__block-item
							a(href="#").c-links-files__block-link
								span J3D.dll 
								i.fas.fa-download
						.c-links-files__block-item
							a(href="#").c-links-files__block-link
								span k2Act32.dll 
								i.fas.fa-download