.c-main {
	&__head {
		background-color: #3b3e43;
		height: 249px;
		&-form {
			width: 769px;
			height: auto;
			box-shadow: 0 5px 9px rgba(0, 0, 0, 0.04), inset 0 119px 0 rgba(17, 16, 13, 0.1);
			background-color: #bfd6d7;
			padding: 35px 15px 15px 15px;
			position: relative;
			margin-top: 37px;
			@include media-breakpoint-down(lg) {
				height: auto;
			}
			@include media-breakpoint-down(md) {
				width: 100%;
			}
			&-wrapper {
				display: flex;
			}
			&-close {
				width: 72px;
				height: 35px;
				box-shadow: inset 0 1px 0 #ff837e;
				margin-left: auto;
				background: url($images-base-path + 'css_sprites.png') -10px -321px;
				position: absolute;
				top: 0;
				right: 0;
			}
			&-body {
				&-inner {
					background-color: #e8f1ee;
					height: 100%;
				}
				&-top {
					padding: 14px 47px 14px 29px;
					display: flex;
					@include media-breakpoint-down(lg) {
						flex-wrap: wrap;
					}
				}
				&-bottom {
					background-color: #ddefe8;
					background-image: linear-gradient(to top, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
					height: 90px;
					padding: 18px;
				}
			}
			&-error {
				background: url($images-base-path + 'css_sprites.png') -10px -506px;
				height: 104px;
				width: 102px;
				flex-shrink: 0;
			}
			&-desc {
				margin-left: 34px;
				margin-top: 39px;
				max-width: 293px;
				@include media-breakpoint-down(lg) {
					max-width: none;
					flex-basis: 65%;
				}
				@include media-breakpoint-down(sm) {
					margin-top: 20px;
					margin-bottom: 10px;
				}
				span {
					color: #3a5051;
					font-family: "PTSans";
					font-size: 19px;
					font-weight: 400;
					line-height: 22.05px;
					letter-spacing: 0.44px;
				}
			}
			&-input {
				width: 218px;
				height: 35px;
				margin-top: 28px;
				margin-left: 15px;
				@include media-breakpoint-down(lg) {
					margin-left: auto;
					margin-top: 0;
				}
				.form-control {
					box-shadow: 0 3px 0 #ffffff, inset 0 4px 0 #b6cccd, inset 0 0 0 1px rgba(191, 214, 215, 0.5);
					border-radius: 5px;
					background-color: #ffffff;
				}
			}
			&-outline {
					position: relative;
					display: flex;
					margin-top: 40px;
					margin-left: 39px;
					height: 116px;
					@include media-breakpoint-down(lg) {
						margin-top: 115px;
					}
					@include media-breakpoint-down(md) {
						display: none;
					}
				&-circle {
					width: 336px;
					height: 116px;
					background: url($images-base-path + 'css_sprites.png') -10px -632px;
					display: flex;
					justify-content: center;
					align-items: center;
					
					span {
						color: #eeeeee;
						font-family: "PTSans";
						font-size: 18px;
						font-weight: 400;
						letter-spacing: 0.45px;
						max-width: 169px;
					}
				}
				&-arrow {
					width: 266px;
					height: 80px;
					background: url($images-base-path + 'css_sprites.png') -10px -234px;
					position: absolute;
					bottom: -40px;
					left: -99px;
				}
			}
		}
	}
	&__body {
		padding-top: 88px;
		@include media-breakpoint-down(lg) {
				padding-top: 115px;
		}
		&-title {
			display: flex;
			
			&-wrapper {
				display: flex;
				justify-content: space-between;
				width: 100%;
				padding-bottom: 55px;
				border-bottom: solid 1px #e2e6eb;
				@include media-breakpoint-down(sm) {
					flex-direction: column;
				}
				.c-request__body-cleaner {
					margin-top: -159px;
					margin-right: -20px;
					margin-left: 10px;
					@include media-breakpoint-down(lg) {
						margin-top: 0;
					}
					@include media-breakpoint-down(md) {
						margin-right: 0;
						margin-left: 20px;
					}
					@include media-breakpoint-down(sm) {
						margin: 0;
						width: 100%;
						margin-top: 50px;
					}
					&-inner {
						width: 371px;
						@include media-breakpoint-down(md) {
							width: 280px;
						}
						@include media-breakpoint-down(sm) {
							width: 100%;
						}
					}
					&-head a{
						margin-left: auto;
					}
					&-body {
						padding: 20px 33px 20px 69px;
						@include media-breakpoint-down(lg) {
							padding: 20px;
						}
					}
				}
			}
			&-img {
				width: 140px;
				height: 109px;
				background: url($images-base-path + 'css_sprites.png') -10px -378px;
				flex-shrink: 0;
			}
			&-txt {
				display: flex;
				margin-left: 31px;
				flex-direction: column;
				margin-top: 10px;
				h2 {
					color: #3f8082;
					font-size: 37px;
					font-weight: 400;
					line-height: 48px;
					@include media-breakpoint-down(md) {
						font-size: 25px;
						line-height: 30px;
					}
				}
				&-span {
					display: flex;
					flex-wrap: wrap;
					span {
						color: #3b3e43;
						font-family: "PTSans";
						font-size: 25px;
						font-weight: 400;
						white-space: nowrap;
						padding-right: 5px;
						@include media-breakpoint-down(md) {
							font-size: 20px;
						}
					}
					.green {
						color: $Eucalyptus;
						padding-right: 0;
					}
				}
				
			}
		}

		&-file-txt {
			padding-top: 40px;
			padding-bottom: 48px;
			display: flex;
			@include media-breakpoint-down(sm) {
				flex-direction: column;
			}
			.c-links-files__block {
				border-right: solid 1px #e2e6eb;
				display: flex;
				width: auto;
				padding-right: 68px;
				@include media-breakpoint-down(lg) {
					flex-shrink: 0;
					width: 50%;
				}
				@include media-breakpoint-down(md) {
					padding-right: 20px;
					width: 60%;
				}
				@include media-breakpoint-down(sm) {
					width: 100%;
					border: none;
					padding-right: 0;
				}
			}
			&-seo {
				@include media-breakpoint-down(md) {
					width: 40%;
					padding-left: 20px;
				}
				@include media-breakpoint-down(sm) {
					width: 100%;
					padding-left: 0;
				}
				h4 {
					color: #3f8082;
					font-family: "PTSans";
					font-size: 17px;
					font-weight: 700;
					margin-bottom: 20px;
					@include media-breakpoint-down(md) {
						font-size: 15px;
					}
				}
				p {
					padding-top: 10px;
					font-family: "PTSans";
					font-weight: 400;
					line-height: 25px;
					font-size: 16px;
					@include media-breakpoint-down(md) {
						font-size: 15px;
						line-height: 18px;
					}
				}
			}
		}
	}
	
}