//  Base paths for assets
$images-base-path: '../images/useful/' !default;
$fonts-base-path: '../fonts/' !default;

// Colors

//Red
$black: #000000;

$PersianGreen: #00A1A7;
$Eucalyptus: #25885F;


// Components
$trs: 0.3s;


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

// $sw-xx-min: 0;
// $sw-xs-min: 0;
// $sw-sm-min: 769px;
// $sw-md-min: 1000px;
// $sw-lg-min: 1250px;

// $sw-xx-max: 479px;
// $sw-xs-max: $sw-sm-min - 1px;
// $sw-sm-max: $sw-md-min - 1px;
// $sw-md-max: $sw-lg-min - 1px;

// $grid-breakpoints: (
//         xs: $sw-xs-min,
//         sm: $sw-sm-min,
//         md: $sw-md-min,
//         lg: $sw-lg-min
// );
// @include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
// @include _assert-starts-at-zero($grid-breakpoints);


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

// $container-max-widths: (
//   sm: 540px,
//   md: 720px,
//   lg: 960px,
//   xl: 1196px
// );
// @include _assert-ascending($container-max-widths, "$container-max-widths");



// Copy settings from this file into the provided `_custom.scss` to override
// the Bootstrap defaults without modifying key, versioned files.
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

$body-bg:       white;
$body-color:    black;

// Links
$link-decoration:       none;
$link-hover-decoration: none;


// Font, line-height, and color for body text, headings, and more.

$headings-font-family: "PFAgroSLabPro";

$font-size-base: 1.6rem;


$font-size-xl:   1.6rem;
$font-size-lg:   1.6rem;
$font-size-md:   1.6rem;
$font-size-sm:   1.6rem;
$font-size-xs:   1.6rem;

$line-height-base: 1.2;
// $font-weight-normal: normal !default;
// $font-weight-bold: bold !default;

// $font-weight-base: $font-weight-normal !default;
// $line-height-base: 1.5 !default;

$h1-font-size: 3rem;
$h2-font-size: 2.8rem;
$h3-font-size: 2.5rem;
$h4-font-size: 2.2rem;
$h5-font-size: 2rem;
$h6-font-size: 1.7rem;


// Fonts
// Font, line-height, and color for body text, headings, and more.



/* Forms */
$input-border-color: #d2d2d2;
$form-group-margin-bottom: 1.5rem;
//$input-btn-padding-y:0.5rem;
$input-btn-padding-x: 1rem;
$input-font-size: 1.5rem;
$input-height: 3.4rem;
$form-group-margin-bottom: 3rem;
$input-padding-x: 1.2rem;
// Modals




$transirion-duration: .15s;

$grid-columns:               12;


























