
mixin head(data)
	- var project_mame = 'DLL'
		unless (data)
			- var data = {}
	head
		// page name
		title=data.title ? project_mame + ' | ' + data.title : ' | New page'
		// Required meta tags
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		// Optional styles
		link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css', rel='stylesheet')
		link(href='s/css/all.css', rel='stylesheet')